body {
  background-color: lightgray;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

.important {
  color: blue;
  font-weight: 900px;
  font-size: 34px;
  font-style: italic;
}

.week {
  font-family: sans-serif;
  /*margin-top: 100px;
  margin-bottom: 5px;*/

}

.week p {
  font-style: italic;
}

.week h4 {
  margin-top: 20px;
  margin-bottom: 100px;
}

.cool {
  font-family: cursive;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.orange {
  margin-right: 80px;
  margin-left: 30px
}
